:root {
    --primary-color : #f36d00;
    --white-color :#fff;
    --header-search-height: 90px;
    --header-search-wrap : 46px;
    --header-height: 26px;
}

body {
    margin-top: 115px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* box-shadow: 0 2px 4px 0 rgba(0,0,0,.25); */