/* Mobile and tablet */

@media (max-width: 1039px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1024px) {

    body {
        margin-top: 78px;
    }
    .header-search__cart {
        padding-left: 35px;
    }
    .app {
        margin-left: auto;
        margin-right: auto;
    }
    .header-search-bar__input {
        width: 315px;
    }
    .header-search {
        height: 68px;
    }

    .deal-item {
        margin-top: 20px;
    }

    .deal-card {
        margin-bottom: 0;
    }
    .deal {
        padding-bottom: 20px;
    }

    .user__item {
        margin-bottom: 16px;
    }
    .lazmall__link  {
        margin-bottom: 16px;
        margin-bottom: 15px;
    }
    .header-find {
        top: 0 ;
        padding-bottom: 10px;
    }
}


/* Mobile */
@media (max-width: 739px) {

    body {
        margin-top: 65px;
    }
    .header-search-bar__input {
        width: 340px;
    }
    .hide-on-mobile {
        display: none;
    }

    .header-search-bar {
        margin: auto;
    }
    .header-search {
        margin:10px 0 0 0px;
        padding-top: 0;
        height: unset;
    }

    .deal-item {
        margin-left: 42px;
        margin-top: 15px;
    }

    .deal-flash__time:first-child {
        margin-left: 40px;
    }
    .deal-card {
        margin-bottom: 10px;
    }

    .deal {
        margin-bottom: 0;
        height: unset;
        padding: 0 10px 10px 10px;
        background-color: #c2384b;
    }

    .deal-heading {
    }

    .page__heading {
        margin-left: 15px;
    }

    .lazmall__link {
        margin-bottom: 10px;
    }
    .header-find {
        top: 0;
        height: 65px;
        border-bottom: 1px solid #fe4960;
    }
    .header-search-bar__input {
        border: 1px solid #F93881;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .header-search-bar__btn {
        border: 1px solid #F93881;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #fe4960;
    }
    .user__item-img {
        width: 193px;
    }

    .page {
        padding: 0 10px;
    }

    .page__heading {
        margin-left: 0;
    }
    .nav-bar-on-mobile {
        display: block;
    }
}