*{
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.header {
    background: rgba(0,0,0,.03);
}

.header__navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.header__navbar-link {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 26px;
    min-width: 86px;
    display: block;
    text-transform: uppercase;justify-items: center;
}

.header__navbar-item {
    white-space: nowrap;
}