*{
    box-sizing: inherit;
}
/* .app {
    background: rgba(0,0,0,.03);
} */
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.header {
    background: rgba(0,0,0,.03);
}

.header__navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.header__navbar-link {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 26px;
    min-width: 86px;
    display: block;
    text-transform: uppercase;justify-items: center;
    color: #9e9e9e;
    position: relative;
    font-weight: 400;
}

.header__navbar-item {
    white-space: nowrap;
    position: relative;
}

.header__navbar-link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__navbar-item:hover .pop-up {
    display: block;
}
/* pop up */

.pop-up {
    background-color: var(--white-color);
    position: absolute;
    width: 380px;
    border: 1px solid #bfbfbf;
    top: calc(100% + 12px);
    padding: 20px 20px 15px;
    position: absolute;
    right: -50%;
    border-radius: 2px;
    box-shadow: 0 0 1px #ccc;
    cursor: pointer;
    display: none;
    animation: fadeIn linear 0.2s;
}

.pop-up::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    right: 50%;
    position: absolute;
    top: -24px;
    left: 0;
}

.pop-up::before {
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-left-width: 1px;
    border-top-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    top: -6px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-color: #bfbfbf;
}


.pop-up-color {
    color: #0f1568;
}
.pop-up__app-img {
    width: 140px;
}

.pop-up__title {
    font-size: 1.6rem;
    margin: 0 0 20px 0;
    font-weight: 400;
    color:#5f5d5d ;
    line-height: 1.8rem;
}

.pop-up__info {
    display: flex;
    white-space: normal;
    margin-bottom: 28px;
}

.pop-up__info-desc {
    padding-left: 10px;
    color: #199cb7;
}

.pop-up__info-desc h3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.pop-up__info-desc-list {
    padding-left: 16px;
    padding-top: 5px;

}
.pop-up__info-desc-heading {
    margin: 0;
}

.pop-up__info-desc-item {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.pop-up__info-link {
    text-decoration: none;
}

.pop-up__contact {
    display: flex;
    height: 40px;
    padding-left:3px ;
}

.pop-up__contact-tel {
    width: 308px;
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-shadow: inset 0 3px 0 0 #dfdfdf;
    font-size: 1.3rem;
    padding: 10px;
}

.pop-up__contact-btn {
    flex: 1;
    background-color: var(--primary-color);
    outline: none;
    border: none;
}

.pop-up__contact-btn__icon {
    font-size: 2.4rem;
    color: var(--white-color);
    line-height: 40px;
}

.pop-up__apps {
    display: flex;
    width: 100%;
    margin: 20px 25px 0 25px;
    padding-top: 8px;
}

.pop-up__app-link {
    min-width: 135px;
    display: block;
    margin-right: 15px;
}


.pop-up__app-img {
    height: 40px;
}

/* popup help */

.pop-up__help {
    background-color: var(--white-color);
    position: absolute;
    width: 234px;
    border: 1px solid #bfbfbf;
    top: calc(100% + 12px);
    padding: 20px 20px 20px;
    position: absolute;
    right: -50%;
    border-radius: 2px;
    box-shadow: 0 0 1px #ccc;
    cursor: pointer;
    transform: translateX(-32%);
    display: none;
    animation: fadeIn linear 0.2s;
}

.pop-up__help::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    right: 50%;
    position: absolute;
    top: -24px;
    left: 0;
}
.pop-up__help::before {
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-left-width: 1px;
    border-top-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    top: -6px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-color: #bfbfbf;
}

.header__navbar-item:hover .pop-up__help {
    display: block;
}

.pop-up__help-list{
    padding: 0;
}

.pop-up__help-item{
    list-style: none;
    font-size: 1.6rem;
}

.pop-up__help-icon{
    padding-right: 14px;
}

.pop-up__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 4rem;
    color: #6e686e;
}

.pop-up__help-link:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

/* header search */

.header-search {
    height: 90px;
    margin: 20px 0 -22px 0;
}

.header-search__logo-img {
    width: 145px;
    margin-right: 35px;
}


.header-search__wrap {
    display: flex;
    align-items: center;
    height: var(--header-search-wrap);
    left: 0;
}

.header-search-bar {
    height: 46px;
    display: flex;
    margin: 0 20px;
    font-size: 1.4rem;
}

.header-search-bar__input {
    width: 687px;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: #eff0f5;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header-search-bar__btn {
    width: 46px;
    outline: none;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: var(--primary-color);
}

.header-search-bar__icon {
    font-size: 2rem;
    color: var(--white-color);
}

.header-search__cart {
    font-size: 3rem;
    margin-right: auto;
}

.header-search__cart-link {
    text-decoration: none;
}

.header-search__cart-gift {
    display: inline-flex;
    flex: none;
}

.header-search__cart-img {
    height: 46px;
    object-fit: contain;
    padding-right: 12px;
}

/* Category */

.category {
    background-color: rgb(103, 210, 254);
    height: 344px;
}

.category-bar {
    background-color: var(--white-color);
    padding: 0;
    width: 200px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    display: flex;
}

.category-wrap {
    display: flex;
    height: 344px;
    position: relative;

}

.category-slide-img {
    height: 344px;
}

.category-slide {
    position: relative;
    cursor: pointer;
}

.category-bar__list-lv1 {
    padding: 0;
    width: 200px;
}
.category-bar__item {
    list-style: none;
    line-height: 27px;
    color: #757575;
    padding-left: 8px;
    font-size: 1.3rem;
    white-space: nowrap;
}

.category-bar__item:hover {
    background-color: #ECEFF1;
    color: var(--primary-color);
    cursor: pointer;
}

/* dot */

.category-slide__list {
    display: flex;
}
.dot {
    position: absolute;
    /* display: none; */
    min-width: 120px;
    top: 90%;
    left: 30%;
}

.category-slide__item {
    width: 10px;
    height: 10px;
    list-style: none;
    background-color:#e3e7e9;
    margin-right: 8px;
    border-radius: 50%;
}

.category-slide__item:hover {
    background-color: var(--white-color);
}

/* active category */

.category-bar__item--active {
    font-size: 1.4rem;
    line-height: 27px;
    float: right;
    padding-right: 4px;
    display: none;
}

.category-bar__item:hover .category-bar__item--active {
    display: inline-block;
}

/* category sub 2 */
.category-bar__list-lv2 {
    width: 200px;
    padding: 10px 0px;
    background-color: var(--white-color);
    z-index: 1;
    left: 200px;
    bottom: 0;
    top: 0;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    display: none;
}

/* Deal */

.deal {
    background-color: #CD0010;
    margin-top: 20px;
    height: 550px;
}

.deal-heading {
    font-size: 2rem;
    font-weight: 400;
    color: #aeabab;
    margin: 15px 0;
}

.deal-item {
    background-color: var(--white-color);
    margin-top: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.deal-item__link {
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
}

.deal-item__img {
    width: 32px;
    margin: 0 4px;
}

.deal-flash {
    background-color: var(--white-color);
    margin: 0;
    display: flex;
    height: 60px;
    font-size: 1.4rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.deal-flash__date {
    margin: 0;
}

.deal-flash__status {
    color: var(--primary-color);
    padding:0 40px 0 20px;
    line-height: 40px;
}

.deal-flash__date {
    padding-left: 10px;
}

.deal-flash__time {
    width: 40px;
    height: 40px;
    background-color: #CD0010;
    padding: 12px;
    color: var(--white-color);
    border-radius: 2px;
    font-size: 1.6rem;
    line-height: 40px;
}

.deal-flash__time:first-child {
    margin-left: 20px;
}
/* deal product */

.deal-product {
    background-color: var(--white-color);
    margin: 0;
}


.deal-item_img {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    border: 2px solid #ccc;
}
.deal-item__title {
    font-size: 1.4rem;
    white-space: wrap;
    margin-bottom: 10px;
}

.deal-item__price {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 6px;
}

.deal-item__sale-percent {
    font-size: 1.2rem;
}

.deal-item__listed-price {
    font-size: 1.2rem;
    text-decoration:line-through;
    padding-right: 10px;
    color: #9E9E9E;
}
.deal-card {
    margin-bottom: 40px;
}

.deal-card:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    cursor: pointer;
}

.deal-flash__all-product {
    margin-left: auto;
    margin-right: 20px;
    border: 1px solid var(--primary-color);
    line-height: 40px;
    padding: 0 8px;
    color: var(--primary-color);
    cursor: pointer;
}
/* popular search */

.page {
    background-color: #F5F5F5;
    height: 260px;
}

.popular-search__product {
    background-color: #ECEEF7;
    height: 208px;
}


.page__heading {
    font-size: 2rem;
    font-weight: 400;
    color: #424242;
    padding: 30px 0 15px 0;
    margin: 0;
}
.popular-search__img{
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
}


.popular-search__title{
    text-align: center;
    font-size: 1.4rem;
    margin: 15px 0 5px 0;
}


.popular-search__quantity{
    text-align: center;
    font-size: 1.2rem;
    color: #9e9e9e;
    margin:0;
}


.popular-search__sub-product {
    height: 103px;
    position: relative;
    background-color: var(--white-color);
    margin-bottom: 4px;
}
.popular-search__sub-product-desc {
    float: right;
    padding-right : 30px;
}

.popular-search__sub-product-desc-title {
    font-size: 1.4rem;
    margin: 15px 0 5px 0;
}

.popular-search__sub-product-desc-quantity {
    font-size: 1.2rem;
    color: #9e9e9e;
    margin:0;
}

.popular-search__sub-product--overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #5a3304;
    opacity: 0.1;
}

.popular-search__sub-product:hover,
.popular-search__product:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    cursor: pointer;

}

/* collection */

.collection {
    height: 360px;
}

.collection-product__img {
    width: 67px;
    height: 67px;
}

.collection-products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.collection-item {
    text-align: center;
    background-color: var(--white-color);
    padding-bottom: 15px;
}
.collection-item:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    cursor: pointer;
    position: relative;
}
.collection-link {
    text-decoration: none;
}

.collection-title {
    font-size: 1.4rem;
    color: rgb(22, 22, 22);
    padding-top: 10px;
}

.collection-quantity {
    font-size: 1.2rem;
    color: #9e9e9e;
    margin:6px 0 0 0;
}


.row .border-1:nth-child(1),
.row .border-1:nth-child(2),
.row .border-1:nth-child(3) {
    border: 1px solid #ccc;
    border-top:none ;
    border-left: none;
}
.row .border-1:nth-child(4) {
    border-bottom: 1px solid #ccc;
}

.row .border:nth-child(1),
.row .border:nth-child(2),
.row .border:nth-child(3) {
    border-right: 1px solid #ccc;
}


/* Laz mall */

.lazmall {
    height: 340px;
}

.lazmall__product {
    width: 100%;
}
.lazmall__product-img {
    width: 100%;
    
}

.lazmall_brand {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 152px;
    border: 1px solid #ccc;
}


.lazmall__brand-img {
    width: 44px;
    height: 44px;
}

.lazmall__link {
    background-color: var(--white-color);
    display: block;
    width: 100%;
    position: relative;
    text-decoration: none;
    height: 270px;
}
.lazmall__link:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.lazmall_store {
    text-align: center;
    position: relative;
    width: 100%;
    top: 10px;
    font-size: 1.4rem;
    padding-bottom: 6px;
    color: #000;

}

.lazmall_slogan {
    text-align: center;
    font-size: 1.2rem;
    color: #9e9e9e;
}

.lazmall_overlay {
    width: 100%;
    height: 36px;
    left: 0;
    position: absolute;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    opacity: 0.25;
    top: 150px;
}

/* Merchandise */

.merchandise {
    height: 360px;
}

.merchandise__link {
    background-color: var(--white-color);
    width: 100%;
    display: block;
    height: 148px;
    text-decoration: none;
}

.merchandise__image-img {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
}

.merchandise__title {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
    color: #000;
    padding-bottom: 16px;
}

.row .border_bt:nth-child(1),
.row .border_bt:nth-child(2),
.row .border_bt:nth-child(3),
.row .border_bt:nth-child(4),
.row .border_bt:nth-child(5),
.row .border_bt:nth-child(6),
.row .border_bt:nth-child(7) {
    border: 1px solid #ccc;
    border-top:none ;
    border-left: none;
}
.row .border_bt:nth-child(8) {
    border-bottom: 1px solid #ccc;
}

.row .border_t:nth-child(1),
.row .border_t:nth-child(2),
.row .border_t:nth-child(3),
.row .border_t:nth-child(4),
.row .border_t:nth-child(5),
.row .border_t:nth-child(6),
.row .border_t:nth-child(7),
.row .border_t:nth-child(8) {
    border-right: 1px solid #ccc;
}

.merchandise__link:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    position: relative;
}

/* User */

.user {
    height: 800px;
}

.user__item {
    display: block;
    text-decoration: none;
    width: 100%;
    background-color: var(--white-color);
    margin-bottom: 12px;
}

.user__item:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    position: relative;
}

.user__item-img {
    width: 190px;
}

.user__item-title {
    font-size: 1.4rem;
    color: #000;
    margin: 0 0 10px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.user__item-desc {
    padding: 8px 8px;
}

.user__item-current-price {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin:0;
}

.user__item-origin-price {
    font-size: 1.2rem;
    color: #9e9e9e;
    text-decoration: line-through;
    margin: 10px 0 0 0;
}

.user__item-percent {
    font-size: 1.2rem;
    color: #9e9e9e;
    margin: 10px 0 0 0;
    padding-left: 8px;
}

.user__item-sale {
    display: flex;
}

.user__item-info {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.user__item-icon {
    font-size: 0.9rem;
    color: #FACA51;
}

.user__item-quatity,
.user__item-origin {
    margin: 0;
    color: #9e9e9e;
    font-size: 1.2rem;
}

.user__item-origin {
    margin-left: auto;
    
}

.user__item-quatity {
    padding-left: 6px;
}

/* pagination */

.pagination {
    height: 80px;
}

.pagin-more {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #1a9cb8;
    height: 56px;
    border-bottom: 1px solid #E2E2E2;
}

.more {
    width: 388px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    border: 1px solid #1a9cb8;
}

/* footer */

.footer {
    height: 370px;
}

.footer__img {
    height: 97px;
}

.card {
    margin-bottom: 40px;
}

.footer__contact-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #0f136d;
}

.footer__contact-list {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

.footer__contact-link {
    text-decoration: none;
    color: #0f136d;
}

.footer__contact-item {
    line-height: 18px;
}

.footer__contact-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* footer apps */

.footer__apps {
    height: 42px;
    display: flex;
}

.footer__app-laz-info {
    padding: 0 15px;
}

.footer__app-laz-add {
    font-size: 1.6rem;
    margin: 0;
    line-height: 18px;
    padding-bottom: 6px;
    color: var(--primary-color);


}

.footer__app-laz-dowload {
    font-size: 1.4rem;
    margin: 0;
    line-height: 18px;
    color: #0f136d;
}

.footer__app-laz-aplication-app {
    display: block;

}

.footer__app-laz-aplication-appstore,
.footer__app-laz-aplication-google-play {
    height: 42px;
    padding-left: 10px;
}

.footer__app-laz-apps {
    display: flex;
    justify-content: space-between;
}

/* footer__desc */

.footer__desc {
    font-size: 1.2rem;
    color: #0f136d;
    margin-top: 20px;
}
